@model Labrary2023.Models.reservation_state

@{
    ViewData["Title"] = "editreservationstate";
}

<h1>editreservationstate</h1>

<h4>reservation_state</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editreservationstate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idres_sta" />
            <div class="form-group">
                <label asp-for="value_state" class="control-label"></label>
                <input asp-for="value_state" class="form-control" />
                <span asp-validation-for="value_state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
