@model Labrary2023.Models.reservation

@{
    ViewData["Title"] = "editreservation";
}

<h1>editreservation</h1>

<h4>reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editreservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idres" />
            <div class="form-group">
                <label asp-for="idbook" class="control-label"></label>
                <select asp-for="idbook" class="form-control" asp-items="ViewBag.idbook"></select>
                <span asp-validation-for="idbook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idmeb" class="control-label"></label>
                <select asp-for="idmeb" class="form-control" asp-items="ViewBag.idmeb"></select>
                <span asp-validation-for="idmeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservation_states_id" class="control-label"></label>
                <select asp-for="reservation_states_id" class="form-control" asp-items="ViewBag.reservation_states_id"></select>
                <span asp-validation-for="reservation_states_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservation_date" class="control-label"></label>
                <input asp-for="reservation_date" class="form-control" />
                <span asp-validation-for="reservation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
