
<a class="btn btn-primary" asp-controller="Payments" asp-action="addreservationstate">add reservation state </a>
<a class="btn btn-primary" asp-controller="Payments" asp-action="listreservationstate">list reservation state</a>

<a class="btn btn-primary" asp-controller="Payments" asp-action="addreservation">  add reservation</a>
<a class="btn btn-primary" asp-controller="Payments" asp-action="listreservation"> list reservation</a>

<a class="btn btn-primary" asp-controller="Payments" asp-action="addloan">add loan</a>
<a class="btn btn-primary" asp-controller="Payments" asp-action="listloan">list loan</a>

<a class="btn btn-primary" asp-controller="Payments" asp-action="addfine">add fine</a>
<a class="btn btn-primary" asp-controller="Payments" asp-action="listfine">list  fine  </a>


