
<a class="btn btn-primary" asp-controller="Member" asp-action="addmemberstate">addmember state</a>
<a class="btn btn-primary" asp-controller="Member" asp-action="listmemberstate">list member state</a>

<a class="btn btn-primary" asp-controller="Member" asp-action="Addmember">  Add member</a>
<a class="btn btn-primary" asp-controller="Member" asp-action="listmember">list  member</a>

<a class="btn btn-primary" asp-controller="Member" asp-action="addfine_payment">add fine pay</a>
<a class="btn btn-primary" asp-controller="Member" asp-action="listfine_payment">list  fine pay</a>

 
