@model IEnumerable<Labrary2023.Models.member_state>

@{
    ViewData["Title"] = "listmemberstate";
}

<h1>listmemberstate</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.value_state)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.value_state)
            </td>
            <td>
                    <a asp-action="editmemberstate" asp-route-id="@item.idmeb_sta">Edit</a> |
                
                    <a asp-action="Deletememberstate" asp-route-id="@item.idmeb_sta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
