 
<a class="btn btn-primary" asp-controller="Book" asp-action="AddBook">add Book</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="listbook">list Book</a>

<a class="btn btn-primary" asp-controller="Book" asp-action="listCategory">list Category</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="AddCategory">add Category</a>

<a class="btn btn-primary" asp-controller="Book" asp-action="AddBookAuthor">add BookAuthor</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="listBookAuthor">list BookAuthor</a>

<a class="btn btn-primary" asp-controller="Book" asp-action="listAuthor">list Author</a>
<a class="btn btn-primary" asp-controller="Book" asp-action="AddAuthor">  Add Author</a>
